@media (max-width: 1024px) {
}

@media (max-width: 768px) {
    .hero-area .hero-content h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .hero-area .hero-content p {
        font-size: 18px;
        margin-bottom: 30px;
    }  
}

@media (max-width: 480px) {
}