/*======================= Login page ======================*/
.login-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    background-image: url("../../uploads/system/background-login.jpg");
}

.login-container::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.login-container .login-box {
    background-color: var(--color-white);
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: absolute;
    overflow: hidden;
    padding: 80px 60px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
}

.login-container .login-box .logo {
    margin-bottom: 15px;
}

.login-container .login-box .header {
    margin-bottom: 30px;
}

.login-container .login-box .content {
    margin-bottom: 30px;
}

.login-container .login-box .form-group label {
    display: block;
    font-size: 16px;
    font-weight: 600;
}

.login-container .login-box .form-group input,
.login-container .login-box .form-group input:focus,
.login-container .login-box .form-group input:focus-visible,
.login-container .login-box .form-group input:active {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07) !important;
    border: 2px solid #009961 !important;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 300;
}

.login-container .login-box .form-group input::placeholder {
    color: #505050;
}

.login-container .login-box .footer {
    text-align: center;
}

.login-container .login-box .footer .btn-login {
    border-radius: 20px;
	border: 1px solid #009961;
	background-color: var(--background-color-green);
	color: var(--color-white);
	font-size: 16px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    outline: none
}
/*======================= Login page ======================*/